.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: var(--size-sidebar-width);
  height: 100vh;
  background: linear-gradient(45deg, rgba(28,25,23,1) 0%, rgba(96,0,16,1) 52%, rgba(47,0,8,1) 97%);
  color: white;
  font-family: "Ubuntu";
  box-shadow: 0 0 4px #383838;
  transition: all 1s ease-in-out;
  z-index: 2;
  
  * {
    margin-left: 2em;
  }

  h1,
  a,
  .logo-head {
    margin: 0;
  }

  .head {
    margin: 0;
  }
}

.black-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: all 1s linear;
  z-index: 1;
}

.menu .head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Park";
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 2em;
  gap: 0.8em;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu hr {
  width: 100%;
  margin-top: 0.25em;
  margin-left: 0;
  margin-bottom: 1.5em;
  margin-right: 0;
}

.menu h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.menu .head img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  height: 42px;
  transform: rotate(0.5deg);
  animation: spin 13s linear infinite;
}

.menu .head h1 {
  transition: all 0.3s ease-in-out;
}

.icon {
  margin: 0;
  margin-right: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.logo-head {
  transition: all 0.1s ease-in-out;
}

.logo-head:hover {
  scale: 1.2;
}

.show-sidebar img {
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}

.show-sidebar {
  position: fixed;
  top: 2em;
  transition: all 1s ease-in-out;
  background-color: #383838;
  border: none;
  padding: 5px;
  border-radius: 0 16px 16px 0;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}