.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em;
  transition: all 0.3s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 345px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.img-card {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  background-color: #303136;
  color: white;
  cursor: pointer;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
  width: 100%;
  background-color: #303136;
  border-radius: 0 0 16px 16px;
  gap: 0.25em;
}

.info-card h1,
.info-card h2,
.info-card .add-to-card {
  margin-left: 1em;
  margin-right: 1em;
}

.info-h1 {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  margin-top: 1em;
}

.info-h2 {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
}

.add-to-card {
  display: flex;
  justify-content: space-between;
  color: rgb(153, 153, 153);
  margin-bottom: 1em;
}

.add-to-card .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  color: rgb(153, 153, 153);
  font-family: "Park";
  font-weight: 600;
  cursor: pointer;
}

.add-to-card p {
  font-weight: 600;
}

.clicked {
  color: #29A383 !important;
}

.card-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #391714;
  border-radius: 16px;
}

.card-cart .content-card-cart {
  display: flex;
  margin: 2em;
  gap: 1.5em;
}

.card-cart .content-card-cart .info-card-cart {
  width: calc(100% - 150px - 4em);
  text-align: justify;
}

.card-cart .content-card-cart .info-card-cart h2 {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.card-cart .content-card-cart .info-card-cart h3 {
  font-family: "Ubuntu-Thin";
  margin-top: 0.5em;
}

.card-cart .content-card-cart .info-card-cart p {
  font-family: "Ubuntu-Thin";
}

.card-cart .content-card-cart .item-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 16px;
  background: linear-gradient(90deg, rgba(48,49,54,1) 0%, rgba(110,41,32,1) 72%);
  color: white;
  cursor: pointer;
}