@font-face {
  font-family: "Park";
  src: url("./fonts/Parkinsans/Parkinsans-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu-Thin";
  src: url("./fonts/Ubuntu/Ubuntu-Light.ttf");
  font-family: 300;
}

:root {
  --size-sidebar-width: 320px;
  --content-head-width: calc(100vw - (var(--size-sidebar-width) + 7.5em)); /* 7.5em - margin-right */
  --content-cart-width: calc(100vw - (var(--size-sidebar-width) + 2.5em));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Park", sans-serif;
  background-image: url("./assets/back-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  height: auto;
}